.size1, .size {
    width: 24px;
    height: 24px;
}
.colores nav a:hover img {
    transform: scale(1.2); /* Agrandar al pasar el mouse */
    filter: brightness(1.5); /* H(efecto de cambio de color) */
}