/*------------------------------contenedor de productos-----------------------------*/
.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

.producto-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.producto-img {
    max-width: 100%;
    height: auto;
}

.producto-info {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .productos-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
/*-----------------------------------------------------------------------------*/
/*-----------------------header------------------------------------------------------*/
.barra {
    background-color: #F7F7F7; /* Fondo gris claro */
    border-bottom: 1px solid #ddd; /* Borde inferior gris */
    padding: 10px 0; /* Espaciado interno */
}

.contenedor {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px; /* Altura máxima del logo */
    flex-shrink: 0; /* Evitar que el logo se estire */
}


.navbar2 nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #333; /* Color del texto de navegación (gris oscuro) */
}

.navbar2 nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #333; /* Color del texto de navegación (gris oscuro) */
    transition: color 0.3s, font-size 0.3s; /* Transiciones de color y tamaño de fuente */
}

.navbar2 nav a:hover {
    color: #4caf50; /* Color verde cuando se pasa el mouse */
    font-size: 18px; /* Tamaño de fuente aumentado cuando se pasa el mouse */
}


.buscador {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.input-buscar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    transition: box-shadow 1.3s; /* Agregando la transición a la sombra */
}

.input-buscar:focus {
    box-shadow: 0 0 10px rgb(30, 10, 214); /* cambio la sombra cuando se enfoca el input */
    border: 2px solid #111111; /* cambio el color del borde cuando se enfoca el input */
}

.btn-buscar {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-buscar:hover {
    background-color: #333;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}
/*----------------------------------------------------------------------------------------------*/
/*-------------------------footer---------------------------------------------------------------------*/
.size1, .size {
    width: 24px;
    height: 24px;
}
.colores nav a:hover img {
    transform: scale(1.2); /* Agrandar al pasar el mouse */
    filter: brightness(1.5); /* H(efecto de cambio de color) */
}